* {
  margin: 0; }

.card {
  padding: 20px;
  height: auto; }
  .card .delete img {
    width: 30px;
    height: 30px;
    float: right;
    opacity: 0.9; }
  .card .delete img:hover {
    cursor: pointer;
    opacity: 1; }
  
*{
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
.textSelector{
  max-width: 600px;
  max-height: 500px;
  position: fixed;
  display: block;
  z-index: 9999999999999999;
}

.loginPopUp{
  height: auto;
}
.login-wrap{
  width: 600px;
	margin:auto;
	max-width:525px;
	min-height:500px;
	background:url('./../img/podo.gif') no-repeat center;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  border-radius: 10px;
}
.login-html{
	width:100%;
	height:100%;
	padding:40px 70px 50px 70px;
  background:rgba(40,57,101,.9);
  border-radius: 10px;
}
.login-html .sign-in-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}

.login-form{
	min-height:345px;
	perspective:1000px;
	/*transform-style:preserve-3d;*/
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.jotForm{
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.jotForm img{
  width: 100px;
  height: 25px;
}

.closeLogin{
  width: 100%;
  color: white;
  display: absolute;
  padding-left: 380px;
  transition: 0.2s all;
  opacity: 0.4;
}
.closeLogin:hover{
  opacity: 1;
  cursor: pointer;
}
.popUp{
  display: grid;
  max-width: 300px;
  max-height: 200px;
  background: #294562;
  color: rgb(255, 255, 255);
  grid-template-rows: [text-s] 150px [text-e soc-s] 50px [soc-e];
  grid-template-columns: 1fr;
  border-radius: 15px;
  box-shadow: 2px 3px 5px 1px;
  border: 1px solid #294562;
}

.textArea{
  grid-row: text-s/text-e;
  grid-column: 1fr;
  padding: 20px;
}

#close{
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.2s all;
  grid-column: 1fr;
  text-align: right;
}

#close:hover{
  opacity: 0.6;
  cursor: pointer;
}
.text{
  width: 250px;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  -webkit-scrollbar: none; 
}
.text::-webkit-scrollbar { width: 0 !important }
.socialMedia{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: soc-s/soc-e;
  grid-column: 1fr;
  background:rgb(226, 226, 226);
  padding: 20px;
  border-radius: 0 0 15px 15px;
  border: 1px solid #294562;
}
.fa {
  padding: 10px;
  margin: 5px;
  font-size: 12px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.2s all;
}
.fa:hover{
  opacity: 0.7;
  cursor: pointer;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-tumblr {
  background: #2c4762;
  color: white;
}
.fa-volume-up{
  background: #212529;
  color:white;
}
hr{
  border: 1px solid white;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.popUp2{
  margin: 50px;
  display: grid;
  max-width: 300px;
  max-height: 200px;
  background: #294562;
  color: rgb(255, 255, 255);
  grid-template-rows: [text-s] 150px [text-e soc-s] 50px [soc-e];
  grid-template-columns: 1fr;
  border-radius: 15px;
  box-shadow: 2px 3px 5px 1px;
  border: 1px solid #294562;
}

.socialMedia2{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: soc-s/soc-e;
  grid-column: 1fr;
  background:rgb(226, 226, 226);
  padding: 20px;
  border-radius: 0 0 15px 15px;
  border: 1px solid #294562;
  color: black;
}

.textArea2{
  grid-row: text-s/text-e;
  grid-column: 1fr;
  padding: 20px;
}

.text2{
  width: 250px;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

#checkLogin{
  transition: 0.2s all;
}

#checkLogin:hover{
  opacity: 0.7;
  cursor: pointer;
}
.text2::-webkit-scrollbar {width: 0px !important}